<Configuration status="debug">
    <Properties>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>
    <CustomLevels>
    <CustomLevel name="VIOLATION" intLevel="150"/>
    <CustomLevel name="REQUEST" intLevel="350"/>
    </CustomLevels>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{${LOG_PATTERN}}"></PatternLayout>
        </Console>
        <File name="File1" fileName="gyorfi_pal.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <LevelRangeFilter minLevel="VIOLATION" maxLevel="VIOLATION" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <RollingFile name="RollingFile" fileName="messages.log"
                     filePattern="messages%i.log.zip">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File1"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
        <Logger name="pkg.Main" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>